body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#gameCanvas {
    border: 5px solid #000;
    background-color: greenyellow;
}
